/* Основные стили */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f7f7f7;
    color: #333;
}

/* Стили для боковой панели */
.sidebar {
    height: 100vh;
    width: 250px;
    position: fixed;
    left: 0;
    top: 0;
    background: #ffffff; /* Белый фон для лучшего контраста */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.sidebar a {
    color: #333; /* Темный текст для контраста на светлом фоне */
    text-decoration: none;
    display: block;
    padding: 10px;
    border-bottom: 1px solid #eaeaea;
    transition: background-color 0.3s ease;
}

.sidebar a:hover {
    background-color: #eaeaea; /* Светлый оттенок для эффекта при наведении */
}

/* Стили для основного содержимого */
.main-content {
    margin-left: 250px;
    padding: 20px;
    padding-left: 40px;
    background-color: #fff;
    min-height: 100vh;
    transition: margin-left 0.3s ease;
}

/* Стили для кнопки выхода */
.logout-button {
    background-color: #4CAF50; /* Зеленый цвет для кнопки */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    position: absolute;
    bottom: 50px;
    left: 6px;
    width: calc(100% - 30px);
    transition: background-color 0.3s ease;
    border-radius: 5px; /* Скругление углов для более современного вида */
}

.logout-button:hover {
    background-color: #45a049; /* Темно-зеленый цвет при наведении */
}

/* Стили для таблицы товаров */
.product-table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    margin-left: 26px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-table th,
.product-table td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #eaeaea;
}

.product-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.product-table img {
    width: 100px;
    height: auto;
    border-radius: 5px;
}

/* Адаптивность для мобильных устройств */
@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
        padding: 10px;
    }
    .main-content {
        margin-left: 0;
    }
    .logout-button {
        position: relative;
        width: auto;
        margin-bottom: 10px;
    }
}

.add-product-link {
    display: inline-block;
    margin-top: 20px;
    margin-left: 40px;
    padding: 10px 15px;
    background-color: #4CAF50; /* Зеленый фон для кнопки */
    color: white; /* Белый текст */
    text-decoration: none;
    border-radius: 5px; /* Скругление углов */
    transition: background-color 0.3s, transform 0.3s; /* Плавные переходы */
}

.add-product-link:hover {
    background-color: #45a049; /* Темно-зеленый цвет при наведении */
    transform: translateY(-2px); /* Небольшое поднятие при наведении */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тень для эффекта 'поднятия' */
}

/* Стиль для класса 'title' */
.title {
    margin-left: 40px;
    font-size: 24px; /* Увеличенный размер шрифта */
    color: #333; /* Темный цвет текста для контраста */
    background-color: transparent; /* Прозрачный фон */
    padding: 5px 0; /* Паддинг сверху и снизу */
    font-weight: bold; /* Жирное начертание */
}



.edit-form-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.edit-form-wrapper {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.edit-form-input,
.edit-form-textarea,
.edit-form-select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Добавляет паддинг в общую ширину элемента */
}

.edit-form-textarea {
    height: 100px;
}

.edit-form-submit {
    background-color: #5cb85c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.edit-form-submit:hover {
    background-color: #4cae4c;
}

.edit-form-hidden {
    display: none;
}
.form-edit-aga {
    margin-top: 50px;
}
.form-edit-aga span {
    margin-right: 20px;
}


/* Стили для таблицы заказов */
.orders-table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    margin-left: 26px; /* Выравнивание с левой стороны, как у product-table */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тень, как у product-table */
}

.orders-table th,
.orders-table td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #eaeaea; /* Границы, как у product-table */
}

.orders-table tr:nth-child(even) {
    background-color: #f9f9f9; /* Цвет фона для четных строк, как у product-table */
}

/* Стили для ссылок удаления */
.delete-link {
    color: #FF6347; /* Красный цвет для ссылок удаления */
    text-decoration: none;
    transition: color 0.3s ease;
}

.delete-link:hover {
    color: #FF4500; /* Темно-красный цвет при наведении */
}

/* Стили для кнопки добавления заказа */
.add-order-link {
    display: inline-block;
    margin-top: 20px;
    margin-left: 40px;
    padding: 10px 15px;
    background-color: #4CAF50; /* Зеленый фон для кнопки, как у add-product-link */
    color: white; /* Белый текст, как у add-product-link */
    text-decoration: none;
    border-radius: 5px; /* Скругление углов, как у add-product-link */
    transition: background-color 0.3s, transform 0.3s; /* Плавные переходы, как у add-product-link */
}

.add-order-link:hover {
    background-color: #45a049; /* Темно-зеленый цвет при наведении, как у add-product-link */
    transform: translateY(-2px); /* Небольшое поднятие при наведении, как у add-product-link */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тень для эффекта 'поднятия', как у add-product-link */
}

.editttt-link {
    color: #53b363;
    text-decoration: none;
    transition: color 0.3s ease;
}
